body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #EAEEF4;
    background-color: #1E2833;
}

.container {
    background: #384F68;
    width: 450px;
    margin: 10px auto 20px;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    /* box-shadow: [inset] <offset-x> <offset-y> <blur-radius> <spread-radius> <color>; */
    box-shadow: 8px 8px 10px 5px black;
}

.card {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    align-items: center;
}

.calcWindow {
    background: #000;
    height: 120px;
    width: 400px;
    margin: 20px;
    border-radius: 10px;
    border: 3px solid #A9BED0;
}

.inputOutput {
    font-size: 100px;
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
}

.keyPad {
    display: flex;
    flex-direction: column;
    width: 410px;
    margin-bottom: 15px;
}

ul {
    display: flex;
    padding: 0; /* Address default padding interferes with list items causing them to shift right */
    margin: 2px;
}

li {
    list-style-type: none;
    font-size: 60px;
    width: 50px;
    height: 50px;
    background: #597D9E;
    border: 3px solid #A9BED0;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: auto;
}

.numZero,
.clearAll {
    width: 150px;
}

